<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-column">
          <!-- リンクボタン1 -->
          <a href="#" class="btn btn-primary mb-2">ユーザーアカウント作成</a>
          <!-- リンクボタン2 -->
          <a href="#" class="btn btn-primary mb-2">ユーザーログイン</a>
          <!-- リンクボタン3 -->
          <a href="#" class="btn btn-primary mb-2">出店者ログイン</a>
          <!-- リンクボタン4 -->
          <a href="#" class="btn btn-primary mb-2">新規出店希望者はこちら</a>
          <!-- リンクボタン5 -->
          <a href="#" class="btn btn-primary mb-2">事務局管理用ログイン</a>
        </div>
      </div>
    </div>
  </div>